{
    "Parameters": {
        "DB_REGION_NAME": "eu-west-2",
        "DB_ENDPOINT":"http://dynamodb-local:8000",
        "USERS_TABLE_NAME": "caddyUsers",
        "OFFICES_TABLE_NAME": "caddyOffices",
        "MESSAGES_TABLE_NAME": "caddyMessages",
        "RESPONSES_TABLE_NAME": "caddyResponses",
        "IDEMPOTENCY_TABLE_NAME": "caddyIdempotency"
        "EVALUATION_TABLE_NAME": "caddyEvaluation"
    }
}
