{
    "Parameters": {
        "ANTHROPIC_API_KEY": "securi5key",
        "KENDRA_INDEX_ID": "some_index",
        "DB_REGION_NAME": "eu-west-2",
        "DB_ENDPOINT":"http://dynamodb-local:8000",
        "USERS_TABLE_NAME": "caddyUsers",
        "MESSAGES_TABLE_NAME": "caddyMessages",
        "RESPONSES_TABLE_NAME": "caddyResponses",
        "IDEMPOTENCY_TABLE_NAME": "caddyIdempotency"
    }
}
